@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* @media print {
  body {
    background: white;
  }

  .receipt {
    width: 210mm;
    padding: 20mm;
    font-size: 12px;
  }

  button,
  nav,
  .no-print {
    display: none !important;
  }
}

.receipt-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.receipt-header img {
  height: 80px;
}

.tracking-box {
  border: 2px dashed #000;
  padding: 10px;
  margin-top: 15px;
} */

@media print {
  .no-print {
    display: none !important;
  }

  body {
    margin: 0;
    padding: 0;
  }
}


